@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --color-text-dark-blue: #232f3d;
  --background-obj-link-trans: #ffedba;
  --background-obj-link-trans-hover: #f9d500;
  --background-obj-link-stand: #ffdcd6;
  --background-obj-link-stand-hover: #ff7460;
  --color-page-graphic: #24584e;
  --color-page-photography: #1e5167;
  --background-tfoot: #90d4c5;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
  /* font-family: "Fraunces", serif; */
}
h2 {
  font-family: "Fraunces", serif;
}

img {
  display: block;
}
